<a href="https://colab.research.google.com/github/MaitreePimple/Data-Science/blob/main/DAY1(basicpython).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
X=5
M=6
Y="9"
z="2"
print(type(X))
print(type(Y))
print(type(M))
print(type(z))
print(type(Y+z))
print(Y+z)
print(X+M)
a=int(z)
print(a+M)

<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
92
11
8

In [3]:
#list
l1=['hii','12','list','MAITREE',[9.5,'56','yes']]
l2=l1[4][2]
print(l2)
print(len(l2))
print(type(l1))
nums=[]
nums.append(34)
nums.append('MAITREE')
nums.append(67.5)
print(nums)

yes
3
<class 'list'>
[34, 'MAITREE', 67.5]

In [4]:
#tuple
t1=()
print(type(t1))

<class 'tuple'>

In [7]:
#dictionary
d1={'name':'MAITREE','age':12,'salary':1800}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.items())
print(d1.values())
print(d1['age'])

{'name': 'MAITREE', 'age': 12, 'salary': 1800}
<class 'dict'>
dict_keys(['name', 'age', 'salary'])
dict_items([('name', 'MAITREE'), ('age', 12), ('salary', 1800)])
dict_values(['MAITREE', 12, 1800])
12

In [8]:
#input
x=int(input("enter num1:"))
y=int(input("enter num2:"))
print(x*y)
if 34>x:
  print("number is good")
elif 34<y:
  print("numberis not good")
else:
 print("number is okayyish")

enter num1:12
enter num2:34
408
number is good

In [9]:
import numpy as np
arr=np.array((1,2,3))
print("array with rank 2:",arr)
print(type(arr))
print("array size:",arr.size)

array with rank 2: [1 2 3]
<class 'numpy.ndarray'>
array size: 3

In [ ]:
#view
#copy
#def
#base function to get the original value
import pandas as pd
mydataset={
    'cars':['bmw',"mercedes","porcshe"],
    'passings':[3,4,5]
}
myvar=pd.DataFrame(mydataset)
print(myvar)
df = pd.read_csv('california_housing_train.csv')
print(df)