<a href="https://colab.research.google.com/github/MaitreePimple/Data-Science/blob/main/Pandas_Pt_4(Missing_Values).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('/content/bank_transactions.csv')
df.head()

                               KANPUR    33344.7  25/9/16    204022     500
T32853 C1319844 23/4/93  F  NEW DELHI  188714.56  25/9/16  204024.0  2400.0
T32854 C2472011 21/11/89 M      SOLAN    1850.26  26/9/16  122053.0    50.0
T32855 C3136619 NaN      M      DELHI    2334.07  26/9/16  122121.0   268.0
T32856 C7093558 3/11/76  F   AMRITSAR  443881.73  26/9/16  123436.0  3499.0
T32857 C4241746 10/3/82  M    SHIMOGA     890.95  26/9/16  123652.0    98.0

In [43]:
df.isnull()

                               KANPUR  33344.7  25/9/16  204022    500
T32853  C1319844 23/4/93  F     False    False    False   False  False
T32854  C2472011 21/11/89 M     False    False    False   False  False
T32855  C3136619 NaN      M     False    False    False   False  False
T32856  C7093558 3/11/76  F     False    False    False   False  False
T32857  C4241746 10/3/82  M     False    False    False   False  False
...                               ...      ...      ...     ...    ...
T148675 C3516353 4/12/80  M     False    False    False   False  False
T148676 C3234262 6/6/85   M     False    False    False   False  False
T148677 C8721157 21/4/75  M     False    False    False   False  False
T148678 C3349665 14/7/84  M     False    False    False   False  False
T148679 NaN      NaN      NaN    True     True     True    True   True

[115827 rows x 5 columns]

In [44]:
df.isnull().sum()

KANPUR      25
33344.7    361
25/9/16      1
204022       1
500          1
dtype: int64

In [45]:
df.isnull().sum().sum()

389

***DROPPING ROWS WITH NULL VALUES***

In [46]:
df.shape

(115827, 5)

In [49]:
df2 = df.dropna(axis = 0) #dropna will drop all the rows from the data set ; axis  = 0 is default it will drop rows and axis  = 1 it will drop columns

In [50]:
df2.shape

(115442, 5)

***DROPPING COLUMNS WITH NULL VALUES***

In [51]:
df3 = df.dropna(axis = 1)

In [52]:
df3.shape

(115827, 0)

In [53]:
df.dropna(how = 'any') #if any value is null then remove that row

                                  KANPUR    33344.7  25/9/16    204022     500
T32853  C1319844 23/4/93  F    NEW DELHI  188714.56  25/9/16  204024.0  2400.0
T32854  C2472011 21/11/89 M        SOLAN    1850.26  26/9/16  122053.0    50.0
T32855  C3136619 NaN      M        DELHI    2334.07  26/9/16  122121.0   268.0
T32856  C7093558 3/11/76  F     AMRITSAR  443881.73  26/9/16  123436.0  3499.0
T32857  C4241746 10/3/82  M      SHIMOGA     890.95  26/9/16  123652.0    98.0
...                                  ...        ...      ...       ...     ...
T148674 C6741751 21/3/80  M      GURGAON   75316.87   5/8/16  190200.0   147.0
T148675 C3516353 4/12/80  M        NOIDA  106400.85   5/8/16  135123.0   150.0
T148676 C3234262 6/6/85   M    NEW DELHI   99316.75   5/8/16  235346.0  2703.0
T148677 C8721157 21/4/75  M    FARIDABAD  511048.24   5/8/16  225647.0  4000.0
T148678 C3349665 14/7/84  M  NAVI MUMBAI   10414.80   5/8/16  231616.0   140.0

[115442 rows x 5 columns]

In [54]:
df.dropna(how = 'all') #if any value is null then remove that column

                                  KANPUR    33344.7  25/9/16    204022     500
T32853  C1319844 23/4/93  F    NEW DELHI  188714.56  25/9/16  204024.0  2400.0
T32854  C2472011 21/11/89 M        SOLAN    1850.26  26/9/16  122053.0    50.0
T32855  C3136619 NaN      M        DELHI    2334.07  26/9/16  122121.0   268.0
T32856  C7093558 3/11/76  F     AMRITSAR  443881.73  26/9/16  123436.0  3499.0
T32857  C4241746 10/3/82  M      SHIMOGA     890.95  26/9/16  123652.0    98.0
...                                  ...        ...      ...       ...     ...
T148674 C6741751 21/3/80  M      GURGAON   75316.87   5/8/16  190200.0   147.0
T148675 C3516353 4/12/80  M        NOIDA  106400.85   5/8/16  135123.0   150.0
T148676 C3234262 6/6/85   M    NEW DELHI   99316.75   5/8/16  235346.0  2703.0
T148677 C8721157 21/4/75  M    FARIDABAD  511048.24   5/8/16  225647.0  4000.0
T148678 C3349665 14/7/84  M  NAVI MUMBAI   10414.80   5/8/16  231616.0   140.0

[115826 rows x 5 columns]

In [55]:
df.dropna(inplace = True )

In [56]:
df.shape

(115442, 5)