<a href="https://colab.research.google.com/github/MaitreePimple/Data-Science/blob/main/Pandas_(appendFunction).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Append Function

In [6]:
import pandas as pd

In [11]:
df1 = pd.DataFrame({'Roll No.':[1,2,3,4,5], 'Maths':[45,78,78,76,98], 'Physics':[34,45,56,73,78]})
df2 = pd.DataFrame({'Roll No.':[6,7,8,9,10], 'Maths':[43,70,75,70,89], 'Physics':[38,47,59,70,80]})
print (df1)
print (df2)

   Roll No.  Maths  Physics
0         1     45       34
1         2     78       45
2         3     78       56
3         4     76       73
4         5     98       78
   Roll No.  Maths  Physics
0         6     43       38
1         7     70       47
2         8     75       59
3         9     70       70
4        10     89       80

In [ ]:
#df1.append(df2) In both this command the list will be join accoring to the given command here df1 will come first and then df2
#df2.append (df1) here df2 will come first and then df1

In [ ]:
#df1.append (df2, ignore_index=True, sort=True) Here it will print in contnuous index form and it will sort the list with sort function

In [12]:
df1 = pd.DataFrame({'Roll No.':[1,2,3,4,5], 'Chemistry':[45,78,78,76,98], 'Physics':[34,45,56,73,78]})
df2 = pd.DataFrame({'Roll No.':[6,7,8,9,10], 'Maths':[43,70,75,70,89], 'Physics':[38,47,59,70,80]})
print (df1)
print (df2)

   Roll No.  Chemistry  Physics
0         1         45       34
1         2         78       45
2         3         78       56
3         4         76       73
4         5         98       78
   Roll No.  Maths  Physics
0         6     43       38
1         7     70       47
2         8     75       59
3         9     70       70
4        10     89       80

In [ ]:
#df1.append(df2, ignore_index=True) here it will show 3 columns chemisrty , maths and physics and it will be null where the data is not there