<a href="https://colab.research.google.com/github/MaitreePimple/Data-Science/blob/main/Pandas_Part1(Lists_Dictionaries).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is a fast,powerful,flexible and easy to use opensource . data analysis
and manipulation tool,built on top of the python programming language (basically used my data scientist)

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

***PANDAS SERIES USING LIST ***

In [4]:
lst = [1,2,3,4,5,6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [5]:
series = pd.Series(lst) #In series the index is also provided so its in series form
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
empty = pd.Series([]) #printing an empty series
print(empty)

Series([], dtype: object)

In [7]:
a = pd.Series(['M','A','I','T','R','E','E'], index = [1,2,3,4,5,6,7]) #printing your own customisted index
a

1    M
2    A
3    I
4    T
5    R
6    E
7    E
dtype: object

In [9]:
b = pd.Series(['M','A','I','T','R','E','E'], index = [1,2,3,4,5,6,7], name = 'Name')
b #Name is given to the series

1    M
2    A
3    I
4    T
5    R
6    E
7    E
Name: Name, dtype: object

In [11]:
scalar_series = pd.Series(100)
scalar_series #scalar values are single values like integers, floats, or strings.

0    100
dtype: int64

In [12]:
scalar_series = pd.Series(100,index=[1,2,3])
scalar_series

1    100
2    100
3    100
dtype: int64

***PANDAS SERIES USING DICTIONARY***

In [13]:
dict_series = pd.Series({'a':1,'b':2,'c':3})
dict_series

a    1
b    2
c    3
dtype: int64

In [15]:
dict_series = pd.Series({'M':1,'A':2,'I':3,'T':4,'R':5,'E':6,'E':7})
dict_series #dictionary is basically like key and value key is MAITREE here and value 1,2,3,4,5,6,7..

M    1
A    2
I    3
T    4
R    5
E    7
dtype: int64

In [17]:
dict_series[0] #IT PRINTS THE VALUE AT 0 POSTION

1

In [18]:
dict_series[2]

3

In [19]:
dict_series['M'] #IT PRINTED THE INDEXED VALUE OF M

1

In [20]:
dict_series[0:3]

M    1
A    2
I    3
dtype: int64

In [21]:
max(dict_series)

7

In [22]:
min(dict_series)

1

In [25]:
dict_series = pd.Series({'M':[1,2,3],'A':[4,5,6],'I':[7,8,9],'T':[10,11,12],'R':[13,14,15],'E':[16,17,18]})
dict_series #here we have increased the columns values  (we have combined list and dic together)

M       [1, 2, 3]
A       [4, 5, 6]
I       [7, 8, 9]
T    [10, 11, 12]
R    [13, 14, 15]
E    [16, 17, 18]
dtype: object